# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.migrations/
db.sqlite3
db.sqlite3-journal

# If you are using SQLite3
*.sqlite3

# If you are using MySQL
*.sql

# If you are using PostgreSQL
*.pg

# Media and static files
media/
staticfiles/

# Local environment settings
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python virtual environment
venv/
venv*/
ENV/
.env/
.pytest_cache/









